// Your variable overrides
$body-bg: rgba(170, 98, 15, 0.562);
$body-color: rgba(20, 70, 110, 0.719);

$theme-colors: (
  "primary":    #711783a1,
  "danger":     #6b11beab,
  "secondary":  #c021e0e5,
  "success":    #0e6e4946,
  "info":       #18627983,
  "warning":    #d1df10c5,
  "light":      #d3d011,
  "dark":       #22031b67
);

$yiq-contrasted-threshold:  224;

$enable-caret:                                true;
$enable-rounded:                              false;
$enable-shadows:                              true;
$enable-gradients:                            false;
$enable-transitions:                          true;
$enable-prefers-reduced-motion-media-query:   true;
$enable-hover-media-query:                    false; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:                         true;
$enable-pointer-cursor-for-buttons:           true;
$enable-print-styles:                         false;
$enable-responsive-font-sizes:                false;
$enable-validation-icons:                     true;
$enable-deprecation-messages:                 true;

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";